*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container
{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
background: radial-gradient(#ffff, #ffd6d6);
margin-top: 25px;
padding: 20px 0;

}

.small-container
{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;

}
.col-2
{
    float: left;
    align-items: center;    
}

.col-4
{
    flex-basis: 25%;
    padding: 10px;
    min-width: 20px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    float: left;    
}

.col-4 img
{
width: 250px;
}

.title
{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
} 

.title::after
{
content: '';
background: #ff523b;
width: 80px;
height: 5px;
border-radius: 5px;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%)
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 P
{
    font-size: 14px;
}

.rating .fa
{
color: #ff523b;
}

.col-4:hover
{
    transform: translateY(-10px)
}

.offer
{
background: radial-gradient(#ffff, #ffd6d6);
margin-top: 2000px;
padding: 300px 0;
}

.col-2 .offerImg
{
padding: 50px;
}

.small
{
    color: #555;
}